:root {
  --color-purple0: #f7f1fc;
  --color-purple1: #dbc0f2;
  --color-purple2: #c495e9;
  --color-purple3: #ac6be0;
  --color-purple4: #9441d8;
  --color-purple5: #7b27be;
  --color-purple6: #5f1f94;
}
