@import '../../assets/colors.css';

.parentContainer {
  margin: 0 0 1.6rem;
  border-radius: 0.4rem;
  border-left: 0.3rem solid var(--color-purple6);
  padding: 0.6rem;
  background-color: white;
  min-width: 40rem;
}

.commentText {
  font-size: 1.4rem;
  color: var(--color-purple6);
}

.buttonContainer {
  margin: 0.6rem 0 0.2rem;
}

.button {
  margin-right: 1rem;
  padding: 0.28rem;
  background-color: var(--color-purple0);
  border: 0.1rem solid var(--color-purple4);
  border-radius: 0.4rem;
  letter-spacing: 0.1rem;
  color: var(--color-purple5);
}

.replyContainer {
  display: flex;
  align-items: center;
  margin: 0.8rem 0 0.2rem;
}

.input {
  height: 1.8rem;
  font-size: 1.2rem;
  border: 0.12rem solid var(--color-purple3);
  border-radius: 0.4rem;
  outline: none;
  padding: 0 0.4rem;
  color: var(--color-purple4);
}

.input:focus {
  outline: 0.1rem solid var(--color-purple3);
}

.secondaryButton {
  margin-left: 1rem;
  color: var(--color-purple5);
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.editButtonContainer {
  margin: 0.6rem 0 0.2rem;
}